agente-exemplo/Agente de Agendamento/Fluxo-Tools-MCP.json.json
{
  "name": "TOOLS MCP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "conversa_id"
            },
            {
              "name": "tipo"
            },
            {
              "name": "profissional_id"
            },
            {
              "name": "data_inicio"
            },
            {
              "name": "data_fim"
            },
            {
              "name": "titulo"
            },
            {
              "name": "descrição"
            },
            {
              "name": "agenda_id"
            },
            {
              "name": "evento_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        -32
      ],
      "id": "a33db087-ebc0-4cb3-918d-4c0588db0fb1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Consultar profissionais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13e001cc-3423-47d1-82ef-24f6a54857a4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar profissionais"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e14deb8e-58bc-47e7-9af3-fb92b5a96790",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Consultar disponibilidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar disponibilidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3a1e2bf-312d-449e-a63e-ba7c8cfdf6b2",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5976bd6c-2fff-487b-8013-b28a36e1a4a0",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Reagendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reagendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96158fda-9831-4282-97ea-697c4f5a36ca",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f7d436ac-0ee7-4dd7-8ec5-21a3ac18c128",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Buscar consultas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buscar consultas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        224,
        -96
      ],
      "id": "7dd37f6a-8aaf-46b1-9121-65fdfafb9c3c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profissionais",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "agenda_id",
              "condition": "neq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -656
      ],
      "id": "c27914e5-ef38-43e4-ad03-05875880f8c6",
      "name": "Consultar profissionais",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "885870dd-2567-4c33-bf1d-f602926d3827",
              "name": "Profissionais ",
              "value": "=profissional_Id: {{ $json.id }}\nNome: {{ $json.nome }}\nAgenda_id: {{ $json.agenda_id }}\nDisponibilidade: {{ $json.disponibilidade }}\nespecialidade: {{ $json.especialidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -656
      ],
      "id": "52a94203-7bf5-46b8-958f-78da51927c0c",
      "name": "PROFISSIONAIS"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profissionais",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.profissional_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -416
      ],
      "id": "e53c072b-1822-4bee-bb7d-4a4ac1b5ed75",
      "name": "GET PROFI",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ac96149-2842-4996-a0d9-b0ae725fa264",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -416
      ],
      "id": "06d91c2b-476e-4a10-bd08-8bfc423e6abd",
      "name": "encontrou?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "195658e9-436f-4872-9137-b412d79500bc",
              "name": "Retorno",
              "value": "id do profissional esta incorreto, execute o buscar profissionais",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -240
      ],
      "id": "1a5cfc08-482f-4646-99e4-4d7103028df9",
      "name": "ID errado"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agendamentos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "profissional_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().set({hour:0,minute:0, second:0,millisecond:0}) }}"
            },
            {
              "keyName": "data_fim",
              "condition": "lte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime().set({hour:23,minute:59, second:59,millisecond:59}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        -416
      ],
      "id": "4d554ee1-ba90-4873-a457-41ef8bea51f0",
      "name": "GET DISPONIBILIDADE",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "764aa907-da15-4b2f-b73d-25c2164ef7b8",
              "name": "Horário ",
              "value": "={{ $json.data_inicio.toDateTime().setZone() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -432
      ],
      "id": "1c4c206a-ceed-4e04-b8fa-99d0e047aa89",
      "name": "SET TIMEZONE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4ebb703-3fbb-4b73-bbdf-effcbca36ffc",
              "name": "Retorno",
              "value": "Agenda disponível ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -288
      ],
      "id": "7eed2d03-b9f3-48a8-aede-44f156e466ed",
      "name": "AGENDA LIVRE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "513d969d-ae9b-4281-9545-619a62634b59",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        -416
      ],
      "id": "030ce5cb-3bec-4764-8772-d40de4441e57",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# tools de ação do agente\n## Faça os ajustes necessários \n### essas tools oferecem todas as dinamicas entre o google calendar e o supabase, crie os campos e tabelas necessarias seguindo a aula de agendamento",
        "height": 1988,
        "width": 2306,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -832
      ],
      "id": "f00e038d-67d6-477a-a0f1-a25d4eb28a3b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Horário"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1632,
        -432
      ],
      "id": "6f16f9f1-3fc3-409c-a703-0dc67adb2161",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agendamentos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "profissional_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.profissional_id }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}"
            },
            {
              "keyName": "data_fim",
              "condition": "lte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        -48
      ],
      "id": "0201be2c-0aba-4519-9d7d-f8648a2b2099",
      "name": "GET DISPONIBILIDADE1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "513d969d-ae9b-4281-9545-619a62634b59",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        -48
      ],
      "id": "d7a31d34-d035-4c61-9bf4-9400ca13bd33",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4ebb703-3fbb-4b73-bbdf-effcbca36ffc",
              "name": "Retorno",
              "value": "Horairio indisponível ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        64
      ],
      "id": "38d8b45b-11ed-48a8-a094-927d281c1652",
      "name": "Indisponivel"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "conversa_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.conversa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -48
      ],
      "id": "e906b459-e188-4bbb-ac3c-d6fd51c97bf7",
      "name": "GET USER",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.agenda_id }}",
          "mode": "id"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}",
        "end": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}",
        "additionalFields": {
          "description": "={{ $('When Executed by Another Workflow').item.json['descrição'] }}\n\nCliente: {{ $('GET USER').item.json.nome }}\nTelefone: {{ $('GET USER').item.json.telefone }}",
          "summary": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1328,
        -96
      ],
      "id": "e3faf3bf-a015-4ff7-8c73-6c170b75b140",
      "name": "Criar evento",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XK2LZQFfIRdXYQwb",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5fd3796-87c6-4202-81da-2be181078e9e",
              "name": "Retorno",
              "value": "Agenda id errado, consular profissionais ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -48
      ],
      "id": "68c35968-1405-4d46-aee9-9e52a345b273",
      "name": "Erro ao agendar"
    },
    {
      "parameters": {
        "tableId": "Agendamentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "evento_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "agenda_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.agenda_id }}"
            },
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
            },
            {
              "fieldId": "descrição",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.htmlLink }}"
            },
            {
              "fieldId": "data_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "horario_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().format('HH:mm') }}"
            },
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $('GET USER').item.json.id }}"
            },
            {
              "fieldId": "profissional_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.profissional_id }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        -112
      ],
      "id": "984dbd06-3e84-4fab-9054-8aae7baa86ed",
      "name": "Adicionar agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6a37317-2b3d-4045-9482-c4a184a6e831",
              "name": "id",
              "value": "={{ $json.evento_id }}",
              "type": "string"
            },
            {
              "id": "0d3b80f0-8bb5-4d40-b791-a15d359dee7a",
              "name": "Agenda_id",
              "value": "={{ $json.agenda_id }}",
              "type": "string"
            },
            {
              "id": "ea481041-f76b-43c7-9ae1-b65803b7f17e",
              "name": "data",
              "value": "={{ $json.data_txt }}",
              "type": "string"
            },
            {
              "id": "71633837-0df7-4a56-aeb5-f37c9cc8b6f1",
              "name": "Horario",
              "value": "={{ $json.horario_txt }}",
              "type": "string"
            },
            {
              "id": "1a6841f3-eb42-4efa-906f-a89f9c6a65c9",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "85c0fc96-1d26-476c-ae03-2f9962025dec",
              "name": "descrição",
              "value": "={{ $json['descrição'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -112
      ],
      "id": "c9b0c04d-3a31-4477-bd85-8a2895eba967",
      "name": "retorno do agendamento"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "conversa_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.conversa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        848
      ],
      "id": "808c9849-bd8a-459d-9dd6-5c2424c3a2a2",
      "name": "GET CLIENTE",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agendamentos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "cliente_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gt",
              "keyValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        848
      ],
      "id": "669c9cf2-0a8f-443e-9347-ae5f2d2579ac",
      "name": "Listar consultas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "634a06b5-97b3-4736-8383-d45ed3302729",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        848
      ],
      "id": "9f4b6213-f2f7-4001-a571-274cb5e5929b",
      "name": "tem consultas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e22e556-6c2d-4c1b-b12c-0423d4519c13",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "40ac3c9d-d2e8-42bd-b68e-051fc15a88c2",
              "name": "evento_id",
              "value": "={{ $json.evento_id }}",
              "type": "string"
            },
            {
              "id": "cecdbc61-d661-4ef6-8714-d610ba8f8a06",
              "name": "agenda_id",
              "value": "={{ $json.agenda_id }}",
              "type": "string"
            },
            {
              "id": "e46d27aa-ed72-46bc-b8e5-7c3fa0f4a0a6",
              "name": "profissional_id",
              "value": "={{ $json.profissional_id }}",
              "type": "string"
            },
            {
              "id": "006e0c9e-4efd-4f94-81b1-12f05ce4b14a",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "597281c6-0837-41f7-babe-3b9e12c1b365",
              "name": "descrição",
              "value": "={{ $json['descrição'] }}",
              "type": "string"
            },
            {
              "id": "9d2c8597-a8ae-49e4-bd27-bbe4c313e133",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio.toDateTime().setZone() }}",
              "type": "string"
            },
            {
              "id": "a88c174e-67b6-425f-b879-c4b47376170c",
              "name": "data_fim",
              "value": "={{ $json.data_fim.toDateTime().setZone() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        752
      ],
      "id": "02405939-0a26-4386-9576-a19102f15a18",
      "name": "dados das consultas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae80b6c4-4260-4c32-be24-dc46b91e127c",
              "name": "Retorno",
              "value": "Não existe consultas para este cliente, sugira um novo agendamento ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        944
      ],
      "id": "6080f933-dc95-4e31-9e8f-bb98893fc3d0",
      "name": "retorno"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.agenda_id }}",
          "mode": "id"
        },
        "eventId": "={{ $json.evento_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        832,
        512
      ],
      "id": "e8c873d9-ef6b-49f9-bd1c-c51b7d7f2ac7",
      "name": "cancelar evento",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XK2LZQFfIRdXYQwb",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "evento_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.evento_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        496
      ],
      "id": "655103e8-53d5-4333-b318-d122a9d5d54f",
      "name": "Deletar no supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a252ce92-4af3-4fd2-aa21-df81aed184b0",
              "name": "retorno",
              "value": "id do evento ou  o id da agenda esta incorreto",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        672
      ],
      "id": "c1c3f5ca-e247-4f64-8615-3140969f253a",
      "name": "retorno1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae313bdf-9d8c-4755-ac3f-78955a6503fb",
              "name": "retorno",
              "value": "=ststus: cancelado com sucesso\ntitulo: {{ $json.titulo }}\ndescrição: {{ $json['descrição'] }}\ndata: {{ $json.data_inicio.toDateTime().setZone() }} - {{ $json.data_fim .toDateTime().setZone()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        496
      ],
      "id": "242c8e04-cf12-4e20-857d-ae37a07fd0e4",
      "name": "detalhes"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "conversa_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.conversa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        256
      ],
      "id": "beaa21b4-ee40-4be2-ad92-b82bf4f86934",
      "name": "GET USER1",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.agenda_id }}",
          "mode": "id"
        },
        "eventId": "={{ $('When Executed by Another Workflow').item.json.evento_id }}",
        "updateFields": {
          "description": "={{ $('When Executed by Another Workflow').item.json['descrição'] }}",
          "end": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}",
          "start": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime()}}",
          "summary": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1040,
        256
      ],
      "id": "89bd3489-0c55-4f98-9b35-b9067d7d8101",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XK2LZQFfIRdXYQwb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "evento_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.evento_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
            },
            {
              "fieldId": "descrição",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json['descrição'] }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone() }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime().setZone() }}"
            },
            {
              "fieldId": "data_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone().format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "horario_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone().format('HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        256
      ],
      "id": "daadd5a4-d85e-4743-8154-76b412d6d244",
      "name": "atualizar agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6uigSVtyd3WYPm",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5d11ac8-4465-4ab6-87cb-d8558d80e4cf",
              "name": "dados do reagendamento ",
              "value": "=Status: Reagendamento feito com sucesso\ntitulo: {{ $json.titulo }}\nDescrição: {{ $json['descrição'] }}\ndata: {{ $json.data_inicio }} - {{ $json.data_fim }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        256
      ],
      "id": "3cb3b273-7a52-4f48-977b-e14fa4f60c4c",
      "name": "retorno2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "conversa_id": "cf776185d35543c085ce02f58abfdb85",
          "tipo": "Reagendar",
          "profissional_id": "2",
          "data_inicio": "2025-07-25T16:00:00.000-03:00",
          "data_fim": "2025-07-25T17:00:00.000-03:00",
          "titulo": "Consulta com Psicólogo",
          "descrição": "Consulta com Dr. Harry, Psicólogo\n\nCliente: Harry Dev\nTelefone: 11958493514",
          "agenda_id": "harryphotografiacontato@gmail.com",
          "evento_id": "t1666706a6m20cbg0rgm1ud75s"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Consultar profissionais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET PROFI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET USER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET USER1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelar evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar profissionais": {
      "main": [
        [
          {
            "node": "PROFISSIONAIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROFISSIONAIS": {
      "main": [
        []
      ]
    },
    "GET PROFI": {
      "main": [
        [
          {
            "node": "encontrou?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou?": {
      "main": [
        [
          {
            "node": "GET DISPONIBILIDADE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET DISPONIBILIDADE": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET TIMEZONE": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SET TIMEZONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGENDA LIVRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET DISPONIBILIDADE1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Criar evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indisponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET USER": {
      "main": [
        [
          {
            "node": "GET DISPONIBILIDADE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar evento": {
      "main": [
        [
          {
            "node": "Adicionar agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro ao agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar agendamento": {
      "main": [
        [
          {
            "node": "retorno do agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CLIENTE": {
      "main": [
        [
          {
            "node": "Listar consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar consultas": {
      "main": [
        [
          {
            "node": "tem consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem consultas": {
      "main": [
        [
          {
            "node": "dados das consultas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelar evento": {
      "main": [
        [
          {
            "node": "Deletar no supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "retorno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar no supabase": {
      "main": [
        [
          {
            "node": "detalhes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET USER1": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "atualizar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar agendamento": {
      "main": [
        [
          {
            "node": "retorno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99574503-1b20-4058-a94f-c729f565a00e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e88e0bf8a341e29f8b95268b96e335be1d58d1dbc25a197228b6ec3eb6c2e866"
  },
  "id": "iA08jpMhSLPj3aOt",
  "tags": []
}